[submodule "AlgorithmsSedgewick"]
    path = homework/algorithms/AlgorithmsSedgewick
    url = https://github.com/aistrate/AlgorithmsSedgewick.git

[submodule "Network computing"]
    path = homework/network-computing
    url = https://github.com/intgerzero/network-computing.git
